
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';

@import 'base/vars';

* {
    font-family: 'Gilroy';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/main_bg.svg') center (center / cover) no-repeat;
}

p, ol, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    position: relative;
    padding-top: 57.292%;
    margin: 21.35415vw 6.250vw;
    background: url('../img/container_bg.png') center (center / cover) no-repeat;
    box-shadow: 0px 4.688vw 6.250vw -2.083vw rgba(0, 0, 0, .8);
    overflow: hidden;
}

@import 'blocks/logo';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/singer';
@import 'blocks/animation';
@import 'blocks/media';