.menu {
    position: absolute;
    top: -57.292vw;
    left: 0;
    padding: 7.813vw;
    width: 87.500vw;
    height: 57.292vw;
    background-color: #242424;
    background-image: linear-gradient(to bottom, rgba(255, 79, 0, 0) 0%, #ff4f00 2000%);
    transition: all .3s;
    &__items {
        height: 100%;
        width: 100%;
        padding-left: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    &__item {
        position: relative;
        width: 100%;
        height: 4.688vw;
        overflow: hidden;
    }
    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        color: #ffffff;
        text-decoration: none;
        font-size: 3.125vw;
        letter-spacing: 0.500vw;
        text-transform: uppercase;
        font-weight: 700;
        transition: all .3s;
        &:before {
            content: '';
            position: absolute;
            height: 0.208vw;
            width: 0;
            left: 0;
            bottom: 0;
            background-color: var(--main-color);
            transition: ease-in-out all .3s;
        }
        &:hover {
            color: var(--main-color);
            &:before {
                width: 100%;
            }
        }
    }
    &_active {
        top: 0;
        .menu {
            &__link {
                animation: menuLinks .3s .3s 1 forwards ease-in-out;
            }
        }
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 2.396vw;
    height: 0.625vw;
    cursor: pointer;
    z-index: 10000;
    span {
        display: block;
        height: 2px;
        background-color: var(--main-color);
        transition: all .3s;
        &:first-of-type {
            width: 100%;
        }
        &:last-of-type {
            width: 80%; 
        }
    }
    &:hover {
        span {
            background-color: #ffffff;
        }
    }
    &_active {
        span {
            transition: all .3s;
            &:first-of-type {
                transform: rotate(45deg) translateY(0.365vw);
                width: 80%;
            }
            &:last-of-type {
                transform: rotate(-45deg) translateY(-0.365vw);
            } 
        }
        &:hover {
            span {
                background-color: #ffffff;
            }
        }
    }
}

.search {
    position: relative;
    margin-right: 2.344vw;
    display: block;
    position: relative;
    height: 1.458vw;
    width: 1.406vw;
    float: right;
    padding: 0;
    form {
        width: 100%;
        height: 100%;
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill:#ff4f00;
            transition: all .3s;
        }
        &:hover {
            svg {
                fill: white;
            }
        }
    }
}
input[type="text"] {
    height: 1.458vw;
    font-size: 1.354vw;
    display: block;
    font-weight: 300;
    border: none;
    outline: none;
    color: var(--main-color);
    padding: 0.156vw;
    padding-right: 3.125vw;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none !important;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000), border-bottom .3s;
    cursor: pointer;
    &:focus:hover {
        border-bottom: 0.052vw solid #ffffff;
    }
    &:focus {
        width: 20.688vw;
        z-index: 1;
        border-bottom: 0.052vw solid var(--main-color);
        cursor: text;
    }
    
}
input[type="submit"] {
    background: none;
    height: 1.458vw;
    width: 1.406vw;
    display: block;
    color: red;
    float: right;
    text-indent: -520.833vw;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}